#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 84px 833px #fff, 1329px 1307px #fff, 1666px 1205px #fff, 704px 644px #fff,
        1544px 924px #fff, 1241px 1735px #fff, 68px 774px #fff, 1936px 854px #fff,
        1713px 1157px #fff, 1247px 775px #fff, 1437px 174px #fff, 1785px 1964px #fff,
        894px 260px #fff, 806px 739px #fff, 1197px 1082px #fff, 1395px 194px #fff, 909px 1461px #fff,
        935px 1267px #fff, 954px 219px #fff, 1680px 688px #fff, 1658px 1518px #fff,
        1937px 542px #fff, 765px 483px #fff, 1194px 1602px #fff, 510px 1999px #fff, 607px 91px #fff,
        470px 948px #fff, 1780px 586px #fff, 1421px 982px #fff, 1038px 1833px #fff,
        1409px 875px #fff, 1070px 516px #fff, 1064px 1204px #fff, 1588px 33px #fff,
        1626px 1210px #fff, 1299px 1637px #fff, 1804px 1813px #fff, 531px 694px #fff,
        1439px 1803px #fff, 1509px 1575px #fff, 289px 491px #fff, 1420px 1983px #fff,
        877px 1254px #fff, 938px 224px #fff, 618px 1940px #fff, 1514px 1683px #fff,
        1281px 1396px #fff, 549px 1659px #fff, 512px 1046px #fff, 516px 256px #fff,
        1396px 1962px #fff, 133px 1656px #fff, 1793px 1400px #fff, 971px 96px #fff,
        1766px 891px #fff, 1543px 1419px #fff, 616px 16px #fff, 1864px 58px #fff, 1370px 366px #fff,
        1351px 1338px #fff, 1002px 563px #fff, 1531px 469px #fff, 845px 59px #fff, 1px 510px #fff,
        505px 170px #fff, 325px 1839px #fff, 863px 1606px #fff, 789px 973px #fff, 1824px 493px #fff,
        1613px 1710px #fff, 429px 151px #fff, 633px 552px #fff, 1360px 777px #fff, 719px 1776px #fff,
        55px 225px #fff, 1398px 1443px #fff, 773px 1592px #fff, 359px 1349px #fff, 1997px 511px #fff,
        43px 1314px #fff, 266px 1415px #fff, 1883px 226px #fff, 778px 1168px #fff,
        1176px 1731px #fff, 1733px 1701px #fff, 1587px 298px #fff, 1264px 1652px #fff,
        1980px 459px #fff, 1338px 1491px #fff, 387px 1529px #fff, 1853px 1597px #fff,
        369px 173px #fff, 1251px 526px #fff, 945px 1970px #fff, 1666px 607px #fff, 398px 1798px #fff,
        161px 4px #fff, 1257px 1725px #fff, 892px 1978px #fff, 483px 1839px #fff, 1707px 1633px #fff,
        1826px 1439px #fff, 1826px 446px #fff, 1866px 1882px #fff, 1438px 878px #fff,
        797px 1495px #fff, 1099px 16px #fff, 1971px 1910px #fff, 1710px 1168px #fff,
        484px 284px #fff, 830px 1236px #fff, 1124px 1109px #fff, 1948px 123px #fff,
        107px 1138px #fff, 1648px 1308px #fff, 1928px 217px #fff, 1358px 1772px #fff,
        1656px 1541px #fff, 1249px 541px #fff, 1043px 465px #fff, 1939px 614px #fff,
        353px 420px #fff, 1491px 910px #fff, 593px 1806px #fff, 501px 562px #fff, 1004px 1857px #fff,
        1711px 1120px #fff, 1246px 1343px #fff, 840px 1829px #fff, 874px 150px #fff,
        305px 1567px #fff, 487px 1091px #fff, 1052px 1320px #fff, 139px 601px #fff,
        1750px 1877px #fff, 340px 1013px #fff, 1094px 1716px #fff, 1965px 1617px #fff,
        645px 1877px #fff, 7px 1873px #fff, 1821px 1299px #fff, 1010px 532px #fff, 1415px 803px #fff,
        557px 280px #fff, 1358px 132px #fff, 750px 303px #fff, 1183px 569px #fff, 440px 1795px #fff,
        133px 1924px #fff, 303px 605px #fff, 804px 1400px #fff, 1645px 732px #fff, 795px 320px #fff,
        146px 494px #fff, 1582px 867px #fff, 1410px 1010px #fff, 540px 1065px #fff,
        521px 1123px #fff, 660px 1034px #fff, 1053px 1607px #fff, 1285px 279px #fff,
        1352px 132px #fff, 1603px 1174px #fff, 1802px 1720px #fff, 1573px 131px #fff,
        766px 1787px #fff, 960px 1742px #fff, 1157px 471px #fff, 980px 1779px #fff,
        409px 1960px #fff, 685px 860px #fff, 356px 848px #fff, 470px 633px #fff, 174px 1814px #fff,
        1459px 997px #fff, 1190px 1484px #fff, 1195px 1514px #fff, 352px 975px #fff,
        1243px 482px #fff, 1913px 1588px #fff, 1235px 586px #fff, 1837px 1315px #fff,
        1402px 1318px #fff, 549px 468px #fff, 852px 360px #fff, 394px 573px #fff, 782px 1016px #fff,
        926px 1203px #fff, 268px 1170px #fff, 1762px 605px #fff, 1341px 805px #fff, 160px 998px #fff,
        932px 1068px #fff, 1387px 1803px #fff, 1660px 36px #fff, 1106px 1584px #fff,
        1894px 1196px #fff, 317px 59px #fff, 1536px 1597px #fff, 545px 718px #fff, 1736px 59px #fff,
        637px 1250px #fff, 864px 1123px #fff, 466px 886px #fff, 860px 1532px #fff, 1871px 199px #fff,
        1533px 915px #fff, 1061px 1063px #fff, 2000px 1114px #fff, 138px 1580px #fff,
        388px 439px #fff, 1904px 1889px #fff, 42px 1474px #fff, 408px 1483px #fff, 230px 1858px #fff,
        1894px 1057px #fff, 283px 322px #fff, 1059px 1927px #fff, 1800px 1929px #fff,
        829px 937px #fff, 271px 555px #fff, 1807px 1267px #fff, 1604px 1743px #fff, 177px 378px #fff,
        1060px 1348px #fff, 703px 1425px #fff, 608px 65px #fff, 1196px 252px #fff, 766px 171px #fff,
        1183px 767px #fff, 391px 128px #fff, 164px 1750px #fff, 83px 1601px #fff, 1939px 1626px #fff,
        1572px 1413px #fff, 807px 1721px #fff, 1751px 140px #fff, 622px 898px #fff,
        1011px 1845px #fff, 497px 1316px #fff, 1888px 526px #fff, 1893px 840px #fff,
        691px 705px #fff, 679px 81px #fff, 566px 944px #fff, 1169px 782px #fff, 1406px 795px #fff,
        820px 1979px #fff, 1802px 1312px #fff, 1585px 536px #fff, 138px 1885px #fff,
        202px 1871px #fff, 1582px 651px #fff, 330px 318px #fff, 774px 582px #fff, 1999px 1719px #fff,
        1368px 1389px #fff, 712px 1507px #fff, 471px 777px #fff, 1018px 883px #fff,
        1014px 1606px #fff, 1524px 1404px #fff, 216px 1384px #fff, 911px 1632px #fff,
        1949px 620px #fff, 490px 22px #fff, 1904px 1806px #fff, 1205px 1605px #fff,
        1063px 896px #fff, 620px 953px #fff, 720px 422px #fff, 1981px 1851px #fff,
        1113px 1239px #fff, 979px 1150px #fff, 1118px 1031px #fff, 1807px 1040px #fff,
        1114px 1268px #fff, 1033px 1518px #fff, 1983px 185px #fff, 1723px 1844px #fff,
        64px 1935px #fff, 781px 853px #fff, 184px 400px #fff, 1687px 808px #fff, 1957px 623px #fff,
        297px 789px #fff, 1421px 841px #fff, 1197px 806px #fff, 123px 1358px #fff, 285px 287px #fff,
        429px 1248px #fff, 954px 505px #fff, 345px 863px #fff, 645px 1084px #fff, 137px 71px #fff,
        1361px 1292px #fff, 256px 1530px #fff, 1324px 436px #fff, 1206px 426px #fff,
        101px 695px #fff, 135px 1893px #fff, 1672px 981px #fff, 973px 56px #fff, 1059px 1398px #fff,
        1291px 980px #fff, 1589px 1977px #fff, 604px 1884px #fff, 312px 1665px #fff,
        1299px 1045px #fff, 834px 1091px #fff, 317px 1319px #fff, 682px 1929px #fff,
        929px 1405px #fff, 151px 1709px #fff, 1201px 62px #fff, 1594px 862px #fff, 410px 1282px #fff,
        365px 872px #fff, 702px 1999px #fff, 107px 514px #fff, 501px 579px #fff, 1849px 680px #fff,
        1004px 1370px #fff, 1790px 416px #fff, 778px 952px #fff, 266px 1879px #fff,
        1644px 1541px #fff, 579px 88px #fff, 1483px 545px #fff, 1400px 1521px #fff, 340px 508px #fff,
        1063px 1427px #fff, 494px 968px #fff, 1389px 1580px #fff, 1746px 1868px #fff,
        1925px 1221px #fff, 400px 1083px #fff, 404px 723px #fff, 831px 1511px #fff,
        1602px 1460px #fff, 297px 435px #fff, 859px 995px #fff, 1328px 1194px #fff, 220px 983px #fff,
        1128px 1116px #fff, 504px 367px #fff, 5px 1345px #fff, 60px 444px #fff, 914px 804px #fff,
        1951px 261px #fff, 257px 857px #fff, 1168px 1750px #fff, 1758px 1611px #fff,
        1369px 49px #fff, 329px 801px #fff, 1983px 1178px #fff, 302px 917px #fff, 1086px 535px #fff,
        1150px 726px #fff, 1885px 994px #fff, 1413px 269px #fff, 137px 1454px #fff, 345px 674px #fff,
        91px 1000px #fff, 1534px 1157px #fff, 1950px 1441px #fff, 963px 22px #fff, 629px 977px #fff,
        1657px 1951px #fff, 1461px 921px #fff, 274px 1931px #fff, 1400px 1276px #fff,
        747px 855px #fff, 543px 59px #fff, 985px 673px #fff, 118px 1348px #fff, 1604px 1423px #fff,
        238px 827px #fff, 490px 1166px #fff, 803px 1641px #fff, 1143px 207px #fff, 830px 416px #fff,
        516px 1962px #fff, 1662px 1462px #fff, 1381px 947px #fff, 1807px 248px #fff,
        1286px 1382px #fff, 1498px 118px #fff, 1624px 1477px #fff, 1234px 787px #fff,
        1040px 1839px #fff, 1186px 1645px #fff, 1563px 1753px #fff, 1240px 250px #fff,
        480px 173px #fff, 1673px 1804px #fff, 1082px 1377px #fff, 1674px 1160px #fff,
        1955px 879px #fff, 1726px 1386px #fff, 1217px 261px #fff, 1925px 1715px #fff,
        660px 1092px #fff, 847px 1562px #fff, 92px 1122px #fff, 330px 204px #fff, 633px 268px #fff,
        734px 39px #fff, 846px 289px #fff, 580px 642px #fff, 893px 1274px #fff, 1292px 1654px #fff,
        929px 524px #fff, 1215px 1128px #fff, 423px 1265px #fff, 1104px 1685px #fff,
        117px 1902px #fff, 1155px 312px #fff, 627px 118px #fff, 757px 813px #fff, 1503px 911px #fff,
        1830px 156px #fff, 1814px 1102px #fff, 671px 769px #fff, 481px 1927px #fff, 946px 814px #fff,
        1910px 1911px #fff, 1152px 1231px #fff, 1112px 364px #fff, 830px 823px #fff,
        185px 496px #fff, 856px 1125px #fff, 106px 1167px #fff, 469px 1267px #fff, 775px 1153px #fff,
        924px 1322px #fff, 1181px 805px #fff, 1369px 1662px #fff, 1899px 1407px #fff,
        1440px 965px #fff, 182px 405px #fff, 1738px 1572px #fff, 135px 907px #fff, 1638px 588px #fff,
        1799px 462px #fff, 654px 1365px #fff, 1226px 433px #fff, 336px 476px #fff, 865px 159px #fff,
        1524px 1456px #fff, 1462px 1803px #fff, 1126px 113px #fff, 1642px 731px #fff,
        298px 234px #fff, 1941px 1184px #fff, 1480px 1185px #fff, 1388px 774px #fff,
        1153px 1738px #fff, 1804px 503px #fff, 1235px 1835px #fff, 283px 1478px #fff,
        956px 1427px #fff, 1277px 72px #fff, 1304px 1176px #fff, 1234px 1749px #fff,
        277px 420px #fff, 1002px 1134px #fff, 1957px 1905px #fff, 619px 764px #fff,
        1254px 556px #fff, 1579px 1352px #fff, 1797px 1186px #fff, 118px 160px #fff,
        659px 1465px #fff, 393px 238px #fff, 1420px 492px #fff, 487px 527px #fff, 1440px 704px #fff,
        958px 744px #fff, 1339px 628px #fff, 114px 1680px #fff, 466px 212px #fff, 345px 744px #fff,
        489px 1449px #fff, 163px 437px #fff, 313px 939px #fff, 134px 290px #fff, 746px 1791px #fff,
        1392px 119px #fff, 695px 1411px #fff, 486px 1852px #fff, 1577px 482px #fff, 642px 161px #fff,
        1531px 1352px #fff, 870px 1460px #fff, 104px 900px #fff, 1384px 279px #fff, 567px 386px #fff,
        789px 930px #fff, 1989px 169px #fff, 1227px 500px #fff, 155px 267px #fff, 1990px 456px #fff,
        797px 1277px #fff, 336px 1674px #fff, 1205px 787px #fff, 1320px 674px #fff,
        1497px 937px #fff, 549px 47px #fff, 675px 1033px #fff, 1250px 770px #fff, 723px 499px #fff,
        919px 1396px #fff, 1222px 1128px #fff, 1644px 247px #fff, 1289px 778px #fff,
        776px 281px #fff, 1855px 1344px #fff, 1599px 37px #fff, 1754px 1651px #fff,
        1316px 481px #fff, 1767px 462px #fff, 134px 1067px #fff, 166px 932px #fff,
        1565px 1516px #fff, 273px 1435px #fff, 730px 1890px #fff, 359px 1813px #fff,
        1385px 562px #fff, 252px 1438px #fff, 1846px 1689px #fff, 1120px 504px #fff,
        983px 162px #fff, 1251px 799px #fff, 1139px 1783px #fff, 1344px 1549px #fff,
        1726px 1053px #fff, 141px 1479px #fff, 1415px 1712px #fff, 81px 1563px #fff,
        1514px 1612px #fff, 972px 112px #fff, 317px 739px #fff, 378px 1886px #fff, 229px 1559px #fff,
        587px 1539px #fff, 1205px 1805px #fff, 433px 1870px #fff, 1993px 320px #fff,
        548px 1773px #fff, 1814px 705px #fff, 358px 92px #fff, 22px 1749px #fff, 722px 97px #fff,
        1557px 1345px #fff, 1038px 1131px #fff, 1999px 800px #fff, 910px 985px #fff,
        544px 1349px #fff, 505px 920px #fff, 1379px 2000px #fff, 1075px 500px #fff,
        1166px 196px #fff, 211px 1171px #fff, 340px 1912px #fff, 1173px 1793px #fff,
        1779px 230px #fff, 338px 721px #fff, 669px 875px #fff, 847px 355px #fff, 1731px 1693px #fff,
        319px 1632px #fff, 297px 550px #fff, 1665px 1721px #fff, 772px 515px #fff, 83px 1530px #fff,
        1802px 1969px #fff, 1504px 1178px #fff, 1785px 1675px #fff, 643px 847px #fff,
        1988px 980px #fff, 272px 1290px #fff, 1860px 798px #fff, 1792px 1157px #fff, 9px 34px #fff,
        715px 199px #fff, 869px 32px #fff, 1123px 486px #fff, 372px 541px #fff, 110px 375px #fff,
        1189px 624px #fff, 132px 339px #fff, 1214px 1695px #fff, 1803px 1252px #fff,
        1369px 1529px #fff, 984px 314px #fff, 308px 985px #fff, 1271px 1481px #fff,
        1549px 1211px #fff, 1027px 376px #fff, 965px 1220px #fff, 1109px 1512px #fff,
        1526px 1380px #fff, 1820px 1517px #fff, 1132px 1363px #fff, 1096px 1412px #fff,
        1723px 1284px #fff, 1230px 1288px #fff, 1274px 236px #fff, 251px 211px #fff,
        1581px 1735px #fff, 540px 854px #fff, 439px 665px #fff, 530px 1009px #fff, 912px 570px #fff,
        412px 461px #fff, 1578px 1809px #fff, 546px 724px #fff, 942px 1878px #fff, 984px 683px #fff,
        112px 334px #fff, 1650px 346px #fff, 146px 1546px #fff, 899px 1557px #fff, 1013px 898px #fff,
        1971px 1008px #fff, 142px 1815px #fff, 1518px 938px #fff, 1104px 1053px #fff,
        1291px 1259px #fff, 779px 183px #fff, 1765px 471px #fff, 785px 1530px #fff,
        353px 1130px #fff, 773px 1725px #fff, 1945px 71px #fff, 196px 377px #fff, 957px 296px #fff,
        1364px 1990px #fff, 1715px 985px #fff, 669px 1209px #fff, 127px 801px #fff,
        1432px 1426px #fff, 1862px 1645px #fff, 643px 857px #fff, 1031px 666px #fff,
        462px 169px #fff, 778px 222px #fff, 43px 1225px #fff, 1214px 1343px #fff, 1615px 1857px #fff,
        885px 1857px #fff, 235px 1852px #fff, 1908px 1820px #fff, 292px 765px #fff, 861px 807px #fff,
        1722px 1310px #fff, 1819px 352px #fff, 963px 1940px #fff, 504px 1028px #fff,
        216px 1941px #fff, 1318px 1708px #fff, 797px 388px #fff, 37px 612px #fff, 960px 168px #fff,
        890px 1853px #fff, 1371px 1707px #fff, 86px 1874px #fff, 1274px 1359px #fff,
        589px 1106px #fff, 1350px 1439px #fff, 804px 1739px #fff, 389px 1934px #fff,
        269px 1554px #fff, 1618px 267px #fff, 513px 1053px #fff, 1987px 1524px #fff,
        732px 1494px #fff, 488px 549px #fff, 1689px 1818px #fff, 215px 1501px #fff,
        1886px 359px #fff, 1746px 164px #fff, 992px 1340px #fff, 276px 815px #fff, 167px 674px #fff,
        720px 12px #fff, 1404px 92px #fff, 879px 1057px #fff, 502px 890px #fff, 649px 1430px #fff,
        1972px 386px #fff, 659px 154px #fff, 1131px 1972px #fff, 1861px 761px #fff,
        515px 1994px #fff, 641px 1759px #fff, 908px 1153px #fff, 1053px 570px #fff, 254px 906px #fff;
    animation: animStar 50s linear infinite;
}
#stars:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 84px 833px #fff, 1329px 1307px #fff, 1666px 1205px #fff, 704px 644px #fff,
        1544px 924px #fff, 1241px 1735px #fff, 68px 774px #fff, 1936px 854px #fff,
        1713px 1157px #fff, 1247px 775px #fff, 1437px 174px #fff, 1785px 1964px #fff,
        894px 260px #fff, 806px 739px #fff, 1197px 1082px #fff, 1395px 194px #fff, 909px 1461px #fff,
        935px 1267px #fff, 954px 219px #fff, 1680px 688px #fff, 1658px 1518px #fff,
        1937px 542px #fff, 765px 483px #fff, 1194px 1602px #fff, 510px 1999px #fff, 607px 91px #fff,
        470px 948px #fff, 1780px 586px #fff, 1421px 982px #fff, 1038px 1833px #fff,
        1409px 875px #fff, 1070px 516px #fff, 1064px 1204px #fff, 1588px 33px #fff,
        1626px 1210px #fff, 1299px 1637px #fff, 1804px 1813px #fff, 531px 694px #fff,
        1439px 1803px #fff, 1509px 1575px #fff, 289px 491px #fff, 1420px 1983px #fff,
        877px 1254px #fff, 938px 224px #fff, 618px 1940px #fff, 1514px 1683px #fff,
        1281px 1396px #fff, 549px 1659px #fff, 512px 1046px #fff, 516px 256px #fff,
        1396px 1962px #fff, 133px 1656px #fff, 1793px 1400px #fff, 971px 96px #fff,
        1766px 891px #fff, 1543px 1419px #fff, 616px 16px #fff, 1864px 58px #fff, 1370px 366px #fff,
        1351px 1338px #fff, 1002px 563px #fff, 1531px 469px #fff, 845px 59px #fff, 1px 510px #fff,
        505px 170px #fff, 325px 1839px #fff, 863px 1606px #fff, 789px 973px #fff, 1824px 493px #fff,
        1613px 1710px #fff, 429px 151px #fff, 633px 552px #fff, 1360px 777px #fff, 719px 1776px #fff,
        55px 225px #fff, 1398px 1443px #fff, 773px 1592px #fff, 359px 1349px #fff, 1997px 511px #fff,
        43px 1314px #fff, 266px 1415px #fff, 1883px 226px #fff, 778px 1168px #fff,
        1176px 1731px #fff, 1733px 1701px #fff, 1587px 298px #fff, 1264px 1652px #fff,
        1980px 459px #fff, 1338px 1491px #fff, 387px 1529px #fff, 1853px 1597px #fff,
        369px 173px #fff, 1251px 526px #fff, 945px 1970px #fff, 1666px 607px #fff, 398px 1798px #fff,
        161px 4px #fff, 1257px 1725px #fff, 892px 1978px #fff, 483px 1839px #fff, 1707px 1633px #fff,
        1826px 1439px #fff, 1826px 446px #fff, 1866px 1882px #fff, 1438px 878px #fff,
        797px 1495px #fff, 1099px 16px #fff, 1971px 1910px #fff, 1710px 1168px #fff,
        484px 284px #fff, 830px 1236px #fff, 1124px 1109px #fff, 1948px 123px #fff,
        107px 1138px #fff, 1648px 1308px #fff, 1928px 217px #fff, 1358px 1772px #fff,
        1656px 1541px #fff, 1249px 541px #fff, 1043px 465px #fff, 1939px 614px #fff,
        353px 420px #fff, 1491px 910px #fff, 593px 1806px #fff, 501px 562px #fff, 1004px 1857px #fff,
        1711px 1120px #fff, 1246px 1343px #fff, 840px 1829px #fff, 874px 150px #fff,
        305px 1567px #fff, 487px 1091px #fff, 1052px 1320px #fff, 139px 601px #fff,
        1750px 1877px #fff, 340px 1013px #fff, 1094px 1716px #fff, 1965px 1617px #fff,
        645px 1877px #fff, 7px 1873px #fff, 1821px 1299px #fff, 1010px 532px #fff, 1415px 803px #fff,
        557px 280px #fff, 1358px 132px #fff, 750px 303px #fff, 1183px 569px #fff, 440px 1795px #fff,
        133px 1924px #fff, 303px 605px #fff, 804px 1400px #fff, 1645px 732px #fff, 795px 320px #fff,
        146px 494px #fff, 1582px 867px #fff, 1410px 1010px #fff, 540px 1065px #fff,
        521px 1123px #fff, 660px 1034px #fff, 1053px 1607px #fff, 1285px 279px #fff,
        1352px 132px #fff, 1603px 1174px #fff, 1802px 1720px #fff, 1573px 131px #fff,
        766px 1787px #fff, 960px 1742px #fff, 1157px 471px #fff, 980px 1779px #fff,
        409px 1960px #fff, 685px 860px #fff, 356px 848px #fff, 470px 633px #fff, 174px 1814px #fff,
        1459px 997px #fff, 1190px 1484px #fff, 1195px 1514px #fff, 352px 975px #fff,
        1243px 482px #fff, 1913px 1588px #fff, 1235px 586px #fff, 1837px 1315px #fff,
        1402px 1318px #fff, 549px 468px #fff, 852px 360px #fff, 394px 573px #fff, 782px 1016px #fff,
        926px 1203px #fff, 268px 1170px #fff, 1762px 605px #fff, 1341px 805px #fff, 160px 998px #fff,
        932px 1068px #fff, 1387px 1803px #fff, 1660px 36px #fff, 1106px 1584px #fff,
        1894px 1196px #fff, 317px 59px #fff, 1536px 1597px #fff, 545px 718px #fff, 1736px 59px #fff,
        637px 1250px #fff, 864px 1123px #fff, 466px 886px #fff, 860px 1532px #fff, 1871px 199px #fff,
        1533px 915px #fff, 1061px 1063px #fff, 2000px 1114px #fff, 138px 1580px #fff,
        388px 439px #fff, 1904px 1889px #fff, 42px 1474px #fff, 408px 1483px #fff, 230px 1858px #fff,
        1894px 1057px #fff, 283px 322px #fff, 1059px 1927px #fff, 1800px 1929px #fff,
        829px 937px #fff, 271px 555px #fff, 1807px 1267px #fff, 1604px 1743px #fff, 177px 378px #fff,
        1060px 1348px #fff, 703px 1425px #fff, 608px 65px #fff, 1196px 252px #fff, 766px 171px #fff,
        1183px 767px #fff, 391px 128px #fff, 164px 1750px #fff, 83px 1601px #fff, 1939px 1626px #fff,
        1572px 1413px #fff, 807px 1721px #fff, 1751px 140px #fff, 622px 898px #fff,
        1011px 1845px #fff, 497px 1316px #fff, 1888px 526px #fff, 1893px 840px #fff,
        691px 705px #fff, 679px 81px #fff, 566px 944px #fff, 1169px 782px #fff, 1406px 795px #fff,
        820px 1979px #fff, 1802px 1312px #fff, 1585px 536px #fff, 138px 1885px #fff,
        202px 1871px #fff, 1582px 651px #fff, 330px 318px #fff, 774px 582px #fff, 1999px 1719px #fff,
        1368px 1389px #fff, 712px 1507px #fff, 471px 777px #fff, 1018px 883px #fff,
        1014px 1606px #fff, 1524px 1404px #fff, 216px 1384px #fff, 911px 1632px #fff,
        1949px 620px #fff, 490px 22px #fff, 1904px 1806px #fff, 1205px 1605px #fff,
        1063px 896px #fff, 620px 953px #fff, 720px 422px #fff, 1981px 1851px #fff,
        1113px 1239px #fff, 979px 1150px #fff, 1118px 1031px #fff, 1807px 1040px #fff,
        1114px 1268px #fff, 1033px 1518px #fff, 1983px 185px #fff, 1723px 1844px #fff,
        64px 1935px #fff, 781px 853px #fff, 184px 400px #fff, 1687px 808px #fff, 1957px 623px #fff,
        297px 789px #fff, 1421px 841px #fff, 1197px 806px #fff, 123px 1358px #fff, 285px 287px #fff,
        429px 1248px #fff, 954px 505px #fff, 345px 863px #fff, 645px 1084px #fff, 137px 71px #fff,
        1361px 1292px #fff, 256px 1530px #fff, 1324px 436px #fff, 1206px 426px #fff,
        101px 695px #fff, 135px 1893px #fff, 1672px 981px #fff, 973px 56px #fff, 1059px 1398px #fff,
        1291px 980px #fff, 1589px 1977px #fff, 604px 1884px #fff, 312px 1665px #fff,
        1299px 1045px #fff, 834px 1091px #fff, 317px 1319px #fff, 682px 1929px #fff,
        929px 1405px #fff, 151px 1709px #fff, 1201px 62px #fff, 1594px 862px #fff, 410px 1282px #fff,
        365px 872px #fff, 702px 1999px #fff, 107px 514px #fff, 501px 579px #fff, 1849px 680px #fff,
        1004px 1370px #fff, 1790px 416px #fff, 778px 952px #fff, 266px 1879px #fff,
        1644px 1541px #fff, 579px 88px #fff, 1483px 545px #fff, 1400px 1521px #fff, 340px 508px #fff,
        1063px 1427px #fff, 494px 968px #fff, 1389px 1580px #fff, 1746px 1868px #fff,
        1925px 1221px #fff, 400px 1083px #fff, 404px 723px #fff, 831px 1511px #fff,
        1602px 1460px #fff, 297px 435px #fff, 859px 995px #fff, 1328px 1194px #fff, 220px 983px #fff,
        1128px 1116px #fff, 504px 367px #fff, 5px 1345px #fff, 60px 444px #fff, 914px 804px #fff,
        1951px 261px #fff, 257px 857px #fff, 1168px 1750px #fff, 1758px 1611px #fff,
        1369px 49px #fff, 329px 801px #fff, 1983px 1178px #fff, 302px 917px #fff, 1086px 535px #fff,
        1150px 726px #fff, 1885px 994px #fff, 1413px 269px #fff, 137px 1454px #fff, 345px 674px #fff,
        91px 1000px #fff, 1534px 1157px #fff, 1950px 1441px #fff, 963px 22px #fff, 629px 977px #fff,
        1657px 1951px #fff, 1461px 921px #fff, 274px 1931px #fff, 1400px 1276px #fff,
        747px 855px #fff, 543px 59px #fff, 985px 673px #fff, 118px 1348px #fff, 1604px 1423px #fff,
        238px 827px #fff, 490px 1166px #fff, 803px 1641px #fff, 1143px 207px #fff, 830px 416px #fff,
        516px 1962px #fff, 1662px 1462px #fff, 1381px 947px #fff, 1807px 248px #fff,
        1286px 1382px #fff, 1498px 118px #fff, 1624px 1477px #fff, 1234px 787px #fff,
        1040px 1839px #fff, 1186px 1645px #fff, 1563px 1753px #fff, 1240px 250px #fff,
        480px 173px #fff, 1673px 1804px #fff, 1082px 1377px #fff, 1674px 1160px #fff,
        1955px 879px #fff, 1726px 1386px #fff, 1217px 261px #fff, 1925px 1715px #fff,
        660px 1092px #fff, 847px 1562px #fff, 92px 1122px #fff, 330px 204px #fff, 633px 268px #fff,
        734px 39px #fff, 846px 289px #fff, 580px 642px #fff, 893px 1274px #fff, 1292px 1654px #fff,
        929px 524px #fff, 1215px 1128px #fff, 423px 1265px #fff, 1104px 1685px #fff,
        117px 1902px #fff, 1155px 312px #fff, 627px 118px #fff, 757px 813px #fff, 1503px 911px #fff,
        1830px 156px #fff, 1814px 1102px #fff, 671px 769px #fff, 481px 1927px #fff, 946px 814px #fff,
        1910px 1911px #fff, 1152px 1231px #fff, 1112px 364px #fff, 830px 823px #fff,
        185px 496px #fff, 856px 1125px #fff, 106px 1167px #fff, 469px 1267px #fff, 775px 1153px #fff,
        924px 1322px #fff, 1181px 805px #fff, 1369px 1662px #fff, 1899px 1407px #fff,
        1440px 965px #fff, 182px 405px #fff, 1738px 1572px #fff, 135px 907px #fff, 1638px 588px #fff,
        1799px 462px #fff, 654px 1365px #fff, 1226px 433px #fff, 336px 476px #fff, 865px 159px #fff,
        1524px 1456px #fff, 1462px 1803px #fff, 1126px 113px #fff, 1642px 731px #fff,
        298px 234px #fff, 1941px 1184px #fff, 1480px 1185px #fff, 1388px 774px #fff,
        1153px 1738px #fff, 1804px 503px #fff, 1235px 1835px #fff, 283px 1478px #fff,
        956px 1427px #fff, 1277px 72px #fff, 1304px 1176px #fff, 1234px 1749px #fff,
        277px 420px #fff, 1002px 1134px #fff, 1957px 1905px #fff, 619px 764px #fff,
        1254px 556px #fff, 1579px 1352px #fff, 1797px 1186px #fff, 118px 160px #fff,
        659px 1465px #fff, 393px 238px #fff, 1420px 492px #fff, 487px 527px #fff, 1440px 704px #fff,
        958px 744px #fff, 1339px 628px #fff, 114px 1680px #fff, 466px 212px #fff, 345px 744px #fff,
        489px 1449px #fff, 163px 437px #fff, 313px 939px #fff, 134px 290px #fff, 746px 1791px #fff,
        1392px 119px #fff, 695px 1411px #fff, 486px 1852px #fff, 1577px 482px #fff, 642px 161px #fff,
        1531px 1352px #fff, 870px 1460px #fff, 104px 900px #fff, 1384px 279px #fff, 567px 386px #fff,
        789px 930px #fff, 1989px 169px #fff, 1227px 500px #fff, 155px 267px #fff, 1990px 456px #fff,
        797px 1277px #fff, 336px 1674px #fff, 1205px 787px #fff, 1320px 674px #fff,
        1497px 937px #fff, 549px 47px #fff, 675px 1033px #fff, 1250px 770px #fff, 723px 499px #fff,
        919px 1396px #fff, 1222px 1128px #fff, 1644px 247px #fff, 1289px 778px #fff,
        776px 281px #fff, 1855px 1344px #fff, 1599px 37px #fff, 1754px 1651px #fff,
        1316px 481px #fff, 1767px 462px #fff, 134px 1067px #fff, 166px 932px #fff,
        1565px 1516px #fff, 273px 1435px #fff, 730px 1890px #fff, 359px 1813px #fff,
        1385px 562px #fff, 252px 1438px #fff, 1846px 1689px #fff, 1120px 504px #fff,
        983px 162px #fff, 1251px 799px #fff, 1139px 1783px #fff, 1344px 1549px #fff,
        1726px 1053px #fff, 141px 1479px #fff, 1415px 1712px #fff, 81px 1563px #fff,
        1514px 1612px #fff, 972px 112px #fff, 317px 739px #fff, 378px 1886px #fff, 229px 1559px #fff,
        587px 1539px #fff, 1205px 1805px #fff, 433px 1870px #fff, 1993px 320px #fff,
        548px 1773px #fff, 1814px 705px #fff, 358px 92px #fff, 22px 1749px #fff, 722px 97px #fff,
        1557px 1345px #fff, 1038px 1131px #fff, 1999px 800px #fff, 910px 985px #fff,
        544px 1349px #fff, 505px 920px #fff, 1379px 2000px #fff, 1075px 500px #fff,
        1166px 196px #fff, 211px 1171px #fff, 340px 1912px #fff, 1173px 1793px #fff,
        1779px 230px #fff, 338px 721px #fff, 669px 875px #fff, 847px 355px #fff, 1731px 1693px #fff,
        319px 1632px #fff, 297px 550px #fff, 1665px 1721px #fff, 772px 515px #fff, 83px 1530px #fff,
        1802px 1969px #fff, 1504px 1178px #fff, 1785px 1675px #fff, 643px 847px #fff,
        1988px 980px #fff, 272px 1290px #fff, 1860px 798px #fff, 1792px 1157px #fff, 9px 34px #fff,
        715px 199px #fff, 869px 32px #fff, 1123px 486px #fff, 372px 541px #fff, 110px 375px #fff,
        1189px 624px #fff, 132px 339px #fff, 1214px 1695px #fff, 1803px 1252px #fff,
        1369px 1529px #fff, 984px 314px #fff, 308px 985px #fff, 1271px 1481px #fff,
        1549px 1211px #fff, 1027px 376px #fff, 965px 1220px #fff, 1109px 1512px #fff,
        1526px 1380px #fff, 1820px 1517px #fff, 1132px 1363px #fff, 1096px 1412px #fff,
        1723px 1284px #fff, 1230px 1288px #fff, 1274px 236px #fff, 251px 211px #fff,
        1581px 1735px #fff, 540px 854px #fff, 439px 665px #fff, 530px 1009px #fff, 912px 570px #fff,
        412px 461px #fff, 1578px 1809px #fff, 546px 724px #fff, 942px 1878px #fff, 984px 683px #fff,
        112px 334px #fff, 1650px 346px #fff, 146px 1546px #fff, 899px 1557px #fff, 1013px 898px #fff,
        1971px 1008px #fff, 142px 1815px #fff, 1518px 938px #fff, 1104px 1053px #fff,
        1291px 1259px #fff, 779px 183px #fff, 1765px 471px #fff, 785px 1530px #fff,
        353px 1130px #fff, 773px 1725px #fff, 1945px 71px #fff, 196px 377px #fff, 957px 296px #fff,
        1364px 1990px #fff, 1715px 985px #fff, 669px 1209px #fff, 127px 801px #fff,
        1432px 1426px #fff, 1862px 1645px #fff, 643px 857px #fff, 1031px 666px #fff,
        462px 169px #fff, 778px 222px #fff, 43px 1225px #fff, 1214px 1343px #fff, 1615px 1857px #fff,
        885px 1857px #fff, 235px 1852px #fff, 1908px 1820px #fff, 292px 765px #fff, 861px 807px #fff,
        1722px 1310px #fff, 1819px 352px #fff, 963px 1940px #fff, 504px 1028px #fff,
        216px 1941px #fff, 1318px 1708px #fff, 797px 388px #fff, 37px 612px #fff, 960px 168px #fff,
        890px 1853px #fff, 1371px 1707px #fff, 86px 1874px #fff, 1274px 1359px #fff,
        589px 1106px #fff, 1350px 1439px #fff, 804px 1739px #fff, 389px 1934px #fff,
        269px 1554px #fff, 1618px 267px #fff, 513px 1053px #fff, 1987px 1524px #fff,
        732px 1494px #fff, 488px 549px #fff, 1689px 1818px #fff, 215px 1501px #fff,
        1886px 359px #fff, 1746px 164px #fff, 992px 1340px #fff, 276px 815px #fff, 167px 674px #fff,
        720px 12px #fff, 1404px 92px #fff, 879px 1057px #fff, 502px 890px #fff, 649px 1430px #fff,
        1972px 386px #fff, 659px 154px #fff, 1131px 1972px #fff, 1861px 761px #fff,
        515px 1994px #fff, 641px 1759px #fff, 908px 1153px #fff, 1053px 570px #fff, 254px 906px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 982px 380px #fff, 1024px 512px #fff, 1817px 726px #fff, 1538px 1910px #fff,
        1032px 9px #fff, 572px 1343px #fff, 673px 1380px #fff, 226px 1802px #fff, 1285px 1410px #fff,
        809px 854px #fff, 900px 1577px #fff, 590px 1187px #fff, 1822px 1733px #fff,
        1131px 701px #fff, 1261px 1046px #fff, 1852px 149px #fff, 1887px 144px #fff,
        1341px 203px #fff, 847px 1532px #fff, 639px 637px #fff, 1043px 1486px #fff, 912px 402px #fff,
        632px 961px #fff, 495px 1106px #fff, 449px 1814px #fff, 281px 1561px #fff, 1980px 175px #fff,
        782px 1106px #fff, 129px 694px #fff, 1497px 1021px #fff, 793px 867px #fff, 1079px 58px #fff,
        663px 1020px #fff, 717px 1262px #fff, 595px 1498px #fff, 393px 1635px #fff,
        199px 1037px #fff, 659px 852px #fff, 754px 1284px #fff, 194px 1033px #fff, 138px 1712px #fff,
        1986px 278px #fff, 1679px 750px #fff, 421px 41px #fff, 512px 1866px #fff, 1974px 426px #fff,
        652px 176px #fff, 1133px 369px #fff, 1058px 1828px #fff, 1607px 883px #fff,
        595px 1943px #fff, 169px 1141px #fff, 1795px 1013px #fff, 1562px 952px #fff,
        445px 1043px #fff, 22px 1296px #fff, 910px 22px #fff, 101px 1176px #fff, 385px 1388px #fff,
        219px 23px #fff, 1867px 1134px #fff, 1939px 1316px #fff, 1008px 542px #fff,
        1509px 212px #fff, 954px 1877px #fff, 307px 663px #fff, 838px 1352px #fff, 574px 672px #fff,
        1599px 1103px #fff, 1311px 377px #fff, 306px 1228px #fff, 740px 973px #fff, 524px 302px #fff,
        703px 1333px #fff, 265px 1084px #fff, 268px 115px #fff, 712px 189px #fff, 1030px 1045px #fff,
        841px 1996px #fff, 1901px 1060px #fff, 1328px 1793px #fff, 1442px 588px #fff,
        1081px 1980px #fff, 545px 1518px #fff, 60px 1114px #fff, 1955px 506px #fff, 636px 427px #fff,
        792px 1694px #fff, 695px 441px #fff, 864px 308px #fff, 1537px 601px #fff, 1207px 1049px #fff,
        1218px 1690px #fff, 823px 1177px #fff, 1384px 145px #fff, 1591px 1189px #fff,
        1195px 223px #fff, 195px 1512px #fff, 1672px 1396px #fff, 37px 1568px #fff,
        783px 1174px #fff, 1230px 1391px #fff, 1468px 570px #fff, 662px 1616px #fff,
        366px 1503px #fff, 122px 1866px #fff, 406px 519px #fff, 415px 1732px #fff, 508px 1139px #fff,
        691px 1086px #fff, 1482px 1170px #fff, 843px 859px #fff, 1193px 645px #fff,
        1317px 756px #fff, 80px 528px #fff, 110px 488px #fff, 1676px 1532px #fff, 1631px 1427px #fff,
        1512px 1856px #fff, 198px 800px #fff, 528px 292px #fff, 1102px 1397px #fff,
        1385px 1589px #fff, 359px 517px #fff, 253px 1156px #fff, 364px 469px #fff, 233px 820px #fff,
        1678px 1753px #fff, 951px 372px #fff, 447px 1446px #fff, 555px 1493px #fff,
        1692px 1511px #fff, 603px 809px #fff, 25px 1355px #fff, 1164px 1207px #fff,
        1181px 252px #fff, 288px 136px #fff, 1910px 376px #fff, 627px 796px #fff, 1909px 547px #fff,
        1743px 1452px #fff, 623px 1098px #fff, 1793px 1501px #fff, 1802px 535px #fff,
        758px 1555px #fff, 949px 1978px #fff, 1113px 1762px #fff, 402px 1864px #fff,
        1174px 144px #fff, 1594px 507px #fff, 1213px 1473px #fff, 845px 1140px #fff,
        761px 776px #fff, 1484px 1678px #fff, 21px 1058px #fff, 827px 400px #fff, 320px 153px #fff,
        52px 553px #fff, 1079px 291px #fff, 1188px 1907px #fff, 1161px 244px #fff, 1365px 505px #fff,
        1371px 1234px #fff, 1470px 440px #fff, 743px 1317px #fff, 1943px 1852px #fff,
        189px 162px #fff, 1804px 1097px #fff, 880px 1535px #fff, 1563px 1208px #fff,
        734px 1475px #fff, 1966px 1494px #fff, 126px 924px #fff, 1393px 1841px #fff,
        21px 1184px #fff, 540px 828px #fff, 1156px 803px #fff, 373px 1449px #fff, 433px 1373px #fff,
        1477px 1002px #fff, 1678px 1623px #fff, 1400px 904px #fff, 1277px 354px #fff,
        941px 1695px #fff, 915px 536px #fff, 59px 1242px #fff, 1484px 424px #fff, 346px 1652px #fff,
        972px 699px #fff, 257px 1264px #fff, 794px 1462px #fff, 59px 1931px #fff, 1186px 628px #fff,
        1023px 1153px #fff, 1262px 397px #fff, 1827px 1533px #fff, 872px 1326px #fff,
        1774px 1750px #fff, 1448px 960px #fff, 988px 1448px #fff;
    animation: animStar 100s linear infinite;
}
#stars2:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 982px 380px #fff, 1024px 512px #fff, 1817px 726px #fff, 1538px 1910px #fff,
        1032px 9px #fff, 572px 1343px #fff, 673px 1380px #fff, 226px 1802px #fff, 1285px 1410px #fff,
        809px 854px #fff, 900px 1577px #fff, 590px 1187px #fff, 1822px 1733px #fff,
        1131px 701px #fff, 1261px 1046px #fff, 1852px 149px #fff, 1887px 144px #fff,
        1341px 203px #fff, 847px 1532px #fff, 639px 637px #fff, 1043px 1486px #fff, 912px 402px #fff,
        632px 961px #fff, 495px 1106px #fff, 449px 1814px #fff, 281px 1561px #fff, 1980px 175px #fff,
        782px 1106px #fff, 129px 694px #fff, 1497px 1021px #fff, 793px 867px #fff, 1079px 58px #fff,
        663px 1020px #fff, 717px 1262px #fff, 595px 1498px #fff, 393px 1635px #fff,
        199px 1037px #fff, 659px 852px #fff, 754px 1284px #fff, 194px 1033px #fff, 138px 1712px #fff,
        1986px 278px #fff, 1679px 750px #fff, 421px 41px #fff, 512px 1866px #fff, 1974px 426px #fff,
        652px 176px #fff, 1133px 369px #fff, 1058px 1828px #fff, 1607px 883px #fff,
        595px 1943px #fff, 169px 1141px #fff, 1795px 1013px #fff, 1562px 952px #fff,
        445px 1043px #fff, 22px 1296px #fff, 910px 22px #fff, 101px 1176px #fff, 385px 1388px #fff,
        219px 23px #fff, 1867px 1134px #fff, 1939px 1316px #fff, 1008px 542px #fff,
        1509px 212px #fff, 954px 1877px #fff, 307px 663px #fff, 838px 1352px #fff, 574px 672px #fff,
        1599px 1103px #fff, 1311px 377px #fff, 306px 1228px #fff, 740px 973px #fff, 524px 302px #fff,
        703px 1333px #fff, 265px 1084px #fff, 268px 115px #fff, 712px 189px #fff, 1030px 1045px #fff,
        841px 1996px #fff, 1901px 1060px #fff, 1328px 1793px #fff, 1442px 588px #fff,
        1081px 1980px #fff, 545px 1518px #fff, 60px 1114px #fff, 1955px 506px #fff, 636px 427px #fff,
        792px 1694px #fff, 695px 441px #fff, 864px 308px #fff, 1537px 601px #fff, 1207px 1049px #fff,
        1218px 1690px #fff, 823px 1177px #fff, 1384px 145px #fff, 1591px 1189px #fff,
        1195px 223px #fff, 195px 1512px #fff, 1672px 1396px #fff, 37px 1568px #fff,
        783px 1174px #fff, 1230px 1391px #fff, 1468px 570px #fff, 662px 1616px #fff,
        366px 1503px #fff, 122px 1866px #fff, 406px 519px #fff, 415px 1732px #fff, 508px 1139px #fff,
        691px 1086px #fff, 1482px 1170px #fff, 843px 859px #fff, 1193px 645px #fff,
        1317px 756px #fff, 80px 528px #fff, 110px 488px #fff, 1676px 1532px #fff, 1631px 1427px #fff,
        1512px 1856px #fff, 198px 800px #fff, 528px 292px #fff, 1102px 1397px #fff,
        1385px 1589px #fff, 359px 517px #fff, 253px 1156px #fff, 364px 469px #fff, 233px 820px #fff,
        1678px 1753px #fff, 951px 372px #fff, 447px 1446px #fff, 555px 1493px #fff,
        1692px 1511px #fff, 603px 809px #fff, 25px 1355px #fff, 1164px 1207px #fff,
        1181px 252px #fff, 288px 136px #fff, 1910px 376px #fff, 627px 796px #fff, 1909px 547px #fff,
        1743px 1452px #fff, 623px 1098px #fff, 1793px 1501px #fff, 1802px 535px #fff,
        758px 1555px #fff, 949px 1978px #fff, 1113px 1762px #fff, 402px 1864px #fff,
        1174px 144px #fff, 1594px 507px #fff, 1213px 1473px #fff, 845px 1140px #fff,
        761px 776px #fff, 1484px 1678px #fff, 21px 1058px #fff, 827px 400px #fff, 320px 153px #fff,
        52px 553px #fff, 1079px 291px #fff, 1188px 1907px #fff, 1161px 244px #fff, 1365px 505px #fff,
        1371px 1234px #fff, 1470px 440px #fff, 743px 1317px #fff, 1943px 1852px #fff,
        189px 162px #fff, 1804px 1097px #fff, 880px 1535px #fff, 1563px 1208px #fff,
        734px 1475px #fff, 1966px 1494px #fff, 126px 924px #fff, 1393px 1841px #fff,
        21px 1184px #fff, 540px 828px #fff, 1156px 803px #fff, 373px 1449px #fff, 433px 1373px #fff,
        1477px 1002px #fff, 1678px 1623px #fff, 1400px 904px #fff, 1277px 354px #fff,
        941px 1695px #fff, 915px 536px #fff, 59px 1242px #fff, 1484px 424px #fff, 346px 1652px #fff,
        972px 699px #fff, 257px 1264px #fff, 794px 1462px #fff, 59px 1931px #fff, 1186px 628px #fff,
        1023px 1153px #fff, 1262px 397px #fff, 1827px 1533px #fff, 872px 1326px #fff,
        1774px 1750px #fff, 1448px 960px #fff, 988px 1448px #fff;
}

#stars3 {
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 728px 1507px #fff, 1450px 597px #fff, 722px 1306px #fff, 1427px 737px #fff,
        442px 1072px #fff, 333px 603px #fff, 1066px 1960px #fff, 1240px 929px #fff, 201px 175px #fff,
        110px 1606px #fff, 754px 1964px #fff, 697px 1207px #fff, 1978px 817px #fff,
        1726px 740px #fff, 982px 47px #fff, 1497px 412px #fff, 682px 914px #fff, 1198px 876px #fff,
        1455px 1935px #fff, 281px 940px #fff, 1633px 1094px #fff, 137px 1478px #fff,
        1473px 410px #fff, 660px 1287px #fff, 315px 481px #fff, 283px 816px #fff, 1407px 1098px #fff,
        1915px 972px #fff, 992px 580px #fff, 610px 1858px #fff, 1442px 204px #fff,
        1064px 1415px #fff, 1513px 1462px #fff, 779px 521px #fff, 626px 1630px #fff,
        1050px 1284px #fff, 1761px 570px #fff, 258px 1955px #fff, 1388px 1437px #fff,
        1750px 589px #fff, 107px 1214px #fff, 777px 1780px #fff, 10px 439px #fff, 1508px 314px #fff,
        1060px 1290px #fff, 1704px 929px #fff, 753px 1220px #fff, 1067px 982px #fff,
        559px 1202px #fff, 1434px 1973px #fff, 1931px 1263px #fff, 1511px 1815px #fff,
        1589px 255px #fff, 1452px 659px #fff, 766px 1078px #fff, 716px 1517px #fff,
        1955px 852px #fff, 1232px 623px #fff, 637px 1643px #fff, 436px 1832px #fff,
        779px 1944px #fff, 247px 90px #fff, 1233px 568px #fff, 1729px 1344px #fff, 1478px 324px #fff,
        1291px 1519px #fff, 1541px 1509px #fff, 1392px 432px #fff, 772px 284px #fff,
        971px 1732px #fff, 1143px 1119px #fff, 95px 1815px #fff, 1472px 96px #fff, 579px 1491px #fff,
        776px 875px #fff, 1919px 1649px #fff, 388px 192px #fff, 971px 698px #fff, 1458px 484px #fff,
        482px 804px #fff, 85px 1700px #fff, 1908px 150px #fff, 779px 443px #fff, 462px 1481px #fff,
        1904px 1794px #fff, 1643px 1559px #fff, 1707px 1987px #fff, 1276px 1169px #fff,
        210px 1715px #fff, 1381px 125px #fff, 459px 1774px #fff, 45px 1994px #fff, 1014px 575px #fff,
        1603px 926px #fff, 996px 42px #fff, 613px 954px #fff, 702px 1583px #fff, 400px 719px #fff,
        514px 228px #fff, 1274px 746px #fff;
    animation: animStar 150s linear infinite;
}
#stars3:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: 728px 1507px #fff, 1450px 597px #fff, 722px 1306px #fff, 1427px 737px #fff,
        442px 1072px #fff, 333px 603px #fff, 1066px 1960px #fff, 1240px 929px #fff, 201px 175px #fff,
        110px 1606px #fff, 754px 1964px #fff, 697px 1207px #fff, 1978px 817px #fff,
        1726px 740px #fff, 982px 47px #fff, 1497px 412px #fff, 682px 914px #fff, 1198px 876px #fff,
        1455px 1935px #fff, 281px 940px #fff, 1633px 1094px #fff, 137px 1478px #fff,
        1473px 410px #fff, 660px 1287px #fff, 315px 481px #fff, 283px 816px #fff, 1407px 1098px #fff,
        1915px 972px #fff, 992px 580px #fff, 610px 1858px #fff, 1442px 204px #fff,
        1064px 1415px #fff, 1513px 1462px #fff, 779px 521px #fff, 626px 1630px #fff,
        1050px 1284px #fff, 1761px 570px #fff, 258px 1955px #fff, 1388px 1437px #fff,
        1750px 589px #fff, 107px 1214px #fff, 777px 1780px #fff, 10px 439px #fff, 1508px 314px #fff,
        1060px 1290px #fff, 1704px 929px #fff, 753px 1220px #fff, 1067px 982px #fff,
        559px 1202px #fff, 1434px 1973px #fff, 1931px 1263px #fff, 1511px 1815px #fff,
        1589px 255px #fff, 1452px 659px #fff, 766px 1078px #fff, 716px 1517px #fff,
        1955px 852px #fff, 1232px 623px #fff, 637px 1643px #fff, 436px 1832px #fff,
        779px 1944px #fff, 247px 90px #fff, 1233px 568px #fff, 1729px 1344px #fff, 1478px 324px #fff,
        1291px 1519px #fff, 1541px 1509px #fff, 1392px 432px #fff, 772px 284px #fff,
        971px 1732px #fff, 1143px 1119px #fff, 95px 1815px #fff, 1472px 96px #fff, 579px 1491px #fff,
        776px 875px #fff, 1919px 1649px #fff, 388px 192px #fff, 971px 698px #fff, 1458px 484px #fff,
        482px 804px #fff, 85px 1700px #fff, 1908px 150px #fff, 779px 443px #fff, 462px 1481px #fff,
        1904px 1794px #fff, 1643px 1559px #fff, 1707px 1987px #fff, 1276px 1169px #fff,
        210px 1715px #fff, 1381px 125px #fff, 459px 1774px #fff, 45px 1994px #fff, 1014px 575px #fff,
        1603px 926px #fff, 996px 42px #fff, 613px 954px #fff, 702px 1583px #fff, 400px 719px #fff,
        514px 228px #fff, 1274px 746px #fff;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(-2000px);
    }
}
